<h1>Registre-se</h1>
<form action="/register" method="post">
  <div>
    <label for="name">Nome</label>
    <input type="text" name="name" id="name" required />
  </div>
  <div>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" />
  </div>
  <div>
    <label for="password">Senha</label>
    <input type="password" name="password" id="password" required />
  </div>
  <button type="submit">Cadastrar</button>
</form>
<a href="/login">Login</a>
