/*RESET*/
* {
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li,
ol {
  list-style: none;
}
img {
  max-width: 100%;
  display: block;
}
a {
  text-decoration: none;
  cursor: pointer;
}

/*  GLOBAL - TODAS AS PÁGINAS*/
body {
  background-image: url(imagens/fundo.png);
}
.principal {
  flex-flow: column wrap;
  display: flex;
  justify-content: center;
  max-width: 100%;
}
.topo {
  align-self: center;
  width: 930px;
  background-color: #cccccc;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
/* Barra de navegação*/
.menu {
  width: 930px;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cccccc;
}
.menu ul {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
}
.menu ul li {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  padding: 23px 10px;
}
.menu ul li a {
  color: #3d8acb;
}
.menu ul li a:hover {
  color: #7cbdf3;
}
.final {
  width: 930px;
  align-self: center;
  padding: 30px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cccccc;
}
.final p {
  font-size: 1.3rem;
  font-weight: 800;
}
.corpo-sobre {
  width: 930px;
  align-self: center;
  padding: 15px 10px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: blanchedalmond;
}

/* HOME | PRIMEIRA PÁGINA */

.corpo-sobre h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #838472;
}
.corpo-sobre p {
  color: black;
  max-width: 800px;
  font-size: 1.1rem;
  margin-top: 15px;
}

/* CAMPANHAS PUBLICITÁRIAS*/
.imagemzada img {
  margin: 17px;
  border: #d5ceb4 solid 10px;
}

/* CONTATOS */
.contatos p {
  font-weight: 700;
}
