<h1>Login</h1>
<% if (messages.error) { %> <%= messages.error %> <% } %>

<form action="/login" method="post">
  <div>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" />
  </div>
  <div>
    <label for="password">Senha</label>
    <input type="password" name="password" id="password" required />
  </div>
  <button type="submit">Logar</button>
</form>
<a href="/register">Cadastre-se</a>
