/*RESET*/
* {
  font-size: 100%;
  font-family: "Roboto", sans-serif, Arial;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li,
ol {
  list-style: none;
}
img {
  max-width: 100%;
  display: block;
}
a {
  text-decoration: none;
  cursor: pointer;
}
body {
  font-size: 1em;
  background-color: #e9e2e2;
}

/* CABEÇALHO */

.cabecalho {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
  height: 200px;
  background-color: #ffc406;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.titulo {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5em;
}
.titulobra {
  color: #4b4c46;
  font-weight: 500;
}
.titulotec {
  color: #fff;
  font-weight: 500;
}
.links ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.links ul li {
  display: flex;
  margin-right: 15px;
  padding: 10px;
  margin-bottom: 5px;
}
.links ul li a {
  color: #fff;
  font-weight: bold;
  font-size: 1.3em;
}
.links a:hover {
  color: #4b4c46;
  font-weight: bold;
}

/* PRINCIPAL */
.corpo {
  display: flex;
  justify-content: center;
  align-content: center;
  align-self: center;
  flex-wrap: wrap;
}

.principal-corpo {
  flex-direction: column;
  width: 660px;
  display: flex;
}

/* POSTAGEM */
.postagem {
  background-color: #fff;
  padding: 30px;
  margin: 10px;
}
.postagem h2 {
  color: #f7b600;
  font-size: 2em;
}
.data-postagem {
  display: block;
  font-size: 0.8em;
  padding-bottom: 10px;
}
.postagem img {
  margin: 15px 0;
}
.postagem p {
  margin-bottom: 10px;
}
.postagem a {
  color: #f7b600;
  margin-top: 8px;
  font-weight: bold;
}
.postagem a:hover {
  color: #4b4c46;
  font-weight: bold;
}

/* LATERAL */
.principal-lateral {
  margin-left: 18px;
  width: 260px;
  display: flex;
  flex-direction: column;
}
.conteudo-lateral {
  background-color: #fff;
  padding: 15px;
  display: flex;
  flex-flow: column wrap;
}
.conteudo-lateral h3 {
  color: #565656;
  background: #ccc;
  font-size: 1.2em;
  padding: 5px;
}
.postagem-lateral {
  font-size: 0.8em;
  padding: 5px;
}
.conteudo-lateral a {
  color: #f7b600;
  font-weight: bold;
}
.conteudo-lateral a:hover {
  color: #4b4c46;
  font-weight: bold;
}

.categoria-lateral {
  margin: 15px 0px;
  background-color: #fff;
  display: flex;
  flex-flow: column wrap;
}
/* RODAPE */
.rodape {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #ffc406;
  margin-top: 5px;
  padding: 30px;
}
