body {
  background-color: #3c80d3;
  color: white;
  font: normal 20px arial;
}

header {
  text-align: center;
}

section {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  color: black;
  margin: auto;

  width: 500px;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.287);
}

footer {
  margin-top: 10px;
  text-align: center;
  font-style: italic;
}
